* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.weather-info {
  padding: 2em;
  font-size: 50px;
}

.weather-image {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.city {
  display: flex;
  justify-content: center;
  color: black;
  padding: 0.5em;
  text-shadow: 2px 2px lightgray;
}

.temperature {
  font-size: 80px;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}

.weather {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}